
header, .offcanvas {
    background-color: #0E023E !important;
}
@media screen and (max-width: 576px) {
    header img {
        width: 230px;
        /* height: 44px; */
    }
}

.navbar {
    box-shadow: none;
}

.nav-link {
    color: #fff !important;
    font-weight: bold;
}
/* responsive font-size 20/7/2024 */
@media screen and (max-width: 1199px) {
    .nav-link {
        font-size: 14px !important;
    }
}
.navbar-toggler {
    border: 1px solid rgb(255, 255, 255) !important;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 3px rgb(255, 255, 255) !important;
}

.navbar-toggler-icon {
    color: rgb(255, 255, 255) !important;
}

.offcanvas {
    width: 420px !important;
}

.btn-close {
    filter: invert(1); 
}

.explore-degree {
    margin-top: 100px;
}
@media screen and (min-width: 576px){
    .explore-degree {
        margin-block: 50px;
    } 
}

.explore-text, .business-driven--title, .testimonial_area-title {
    font-size: 32px;
    font-weight: bold;
    color: #0E023E;
}
@media screen and (max-width: 576px) {
    .explore-text, .business-driven--title, .testimonial_area-title {
        font-size: 25px;
    }
}

.explore-degree .row {
    margin-right: 0;
}

.explore-degree li {
    list-style-type: none;
    line-height: 3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.business-driven {
    background-color: #F8F8FF;

    .row {
        margin-inline: 0 !important;
    }
    img {
        width: 100%;
    }
}
.business-driven--text {
    color: #333;
    font-size: 16px;
    line-height: 2;
    text-align: justify !important;
}
@media screen and (max-width: 576px) {
    .business-driven--text {
        font-size: 14px;
    }
}

.offer {
    /* position: relative; */
    width: 100%;
    height: auto; /* Adjust the height as needed */
    background: linear-gradient(rgba(14, 2, 62, .78), rgba(14, 2, 62, .78)), url('/images/rsu building 1.svg');
    background-size: cover;
    background-position: center;
    color: white;
}

.offer h3 {
    font-size: 32px;
    font-weight: bold;
    margin-top: -40px;
    margin-bottom: 40px;
}
.offer-subtitle {
    font-size: 16px;
    line-height: 2;
}

@media screen and (max-width: 576px) {
    .offer h3 {
        font-size: 25px;
    }
    .offer-subtitle {
        font-size: 14px;
    }
}

.offer li {
    /* display: inline-block; */
    list-style-type: none;
    border: 2px solid white;
    line-height: 3;
    padding: 15px;
    width: 100%;
    text-align: center;
    transition: all 1s;
}

.offer li a:hover {
    color: #0E023E;
    font-weight: bold;
    background-color: #F8F8FF;
}

.offer li a{
    text-decoration: none;
    color: white;
    padding: 25px;
    transition: all 1s;
    font-weight: bold;
}
@media screen and (min-width: 769px) {
    .offer li{
        max-width: 400px;
    }
}
@media screen and (max-width: 768px) {
    .offer li{
        width: 100%;
    }
    .offer ul {
        padding: 0;
    }
}
.offer li:nth-child(2) {
    margin-block: 25px;
}

#testimonial_area {
    background-color: #F8F8FF;
    padding: 5% 0;
}
.box-area {
    padding: 30px;
    position: relative;
    display: block;
    background: transparent;
    color: #000;
    border: 1px solid #3b5998;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0 2px 7px; */
    margin: 40px 0;
    /* text-overflow: ellipsis; */
}

.box-area h5 {
    font-size: 16px;
    font-weight: 700;
    color: #3b5998;
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

 .box-area span {
    color: #262626;
    display: block;
    font-size: 13px;
    margin: 0 0 10px;
    font-weight: 400;
}

.box-area .content{
    color: #333;
    font-size: 14px;
}

.box-area .img-area{
    width: 90px;
    height: 90px;
    position: absolute;
    top: -40px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    z-index: 1;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
} 
.box-area .img-area img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.socials {
    margin-top: 30px;
}

.socials i {
    margin: 0 10px;
    color: #3b5998;
    font-size: 18px;
}

#testimonial_area .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}
#testimonial_area .owl-prev,
#testimonial_area .owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #3b5998;
    border-radius: 50%;
    text-align: center;
    background: transparent;
    position: absolute;
}

#testimonial_area .owl-prev {
    left: -60px;
    top: -30px;
}
#testimonial_area .owl-next {
    right: -60px;
    top: -30px;
}

@media only screen and (max-width: 991px) {
    .owl-nav {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .owl-nav {
        display: none;
    }
    .box-area {
        text-align: center;
    }
}

/* contact us */
.content .row {
    margin-inline: 0;
}

.contactForm--title {
    font-size: 25px;
    color: #3b5998;
}
@media screen and (max-width: 576px) {
    .contactForm--title {
        font-size: 20px;
    }
}

@media screen and (min-width: 769px) {
    .border-responsive-lg {
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.hero-section {
    max-width: 1250px;
}

.contactHero--img {
    width: 100%;
    padding-top: 21.09%;
    margin-top: 60px;
    background-image: url(/images/contactus2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}

@media only screen and (max-width: 768px) {
    .contactHero--img {
        margin-top: 85px;
    }
}
#contact-content ul {
    padding-left: 0;
}
#contact-content li {
    list-style-type: none;
    font-size: 14px;
}

.contact-content--title, .contact-content--subtitle {
    color: #3b5998;
    font-weight: bold;
}

/* About us */
.aboutHero--img {
    
}